#version: "3.7"
#
#services:
#  tests:
#    image: pytest:v1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    volumes:
#      - ./:/usr/workspace
#    command: >
#      /bin/sh -c "STAGE=$$STAGE BROWSER=$$BROWSER pytest --alluredir=allure-results --junitxml=test-results.xml || true"
#    working_dir: /usr/workspace
#    environment:
#      BROWSER: ${BROWSER:-chrome}
#      STAGE: ${STAGE:-qa}
#      LOGIN_DOCKER: ${LOGIN_DOCKER}
#      PASSWORD_DOCKER: ${PASSWORD_DOCKER}
#    tty: true
#
#  report:
#    image: pytest:v1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    volumes:
#      - ./:/usr/workspace
#    command: >
#      /bin/sh -c "allure generate allure-results --clean -o allure-report"
#    working_dir: /usr/workspace


#version: "3.7"
#
#services:
#  regression:
#    image: pytest:v1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    volumes:
#      - ./:/usr/workspace
#    command: >
#      /bin/sh -c "STAGE=$$STAGE BROWSER=$$BROWSER LOGIN_DOCKER=$$LOGIN_DOCKER PASSWORD_DOCKER=$$PASSWORD_DOCKER pytest -m regression --alluredir=allure-results --junitxml=test-results.xml || true"
#    working_dir: /usr/workspace
#    environment:
#      BROWSER: ${BROWSER:-chrome}
#      STAGE: ${STAGE:-qa}
#      LOGIN_DOCKER: ${LOGIN_DOCKER}
#      PASSWORD_DOCKER: ${PASSWORD_DOCKER}
#    tty: true
#
#  smoke:
#    image: pytest:v1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    volumes:
#      - ./:/usr/workspace
#    command: >
#      /bin/sh -c "STAGE=$$STAGE BROWSER=$$BROWSER LOGIN_DOCKER=$$LOGIN_DOCKER PASSWORD_DOCKER=$$PASSWORD_DOCKER pytest -m smoke -n 2 --alluredir=allure-results --junitxml=test-results.xml || true"
#    working_dir: /usr/workspace
#    environment:
#      BROWSER: ${BROWSER:-chrome}
#      STAGE: ${STAGE:-qa}
#      LOGIN_DOCKER: ${LOGIN_DOCKER}
#      PASSWORD_DOCKER: ${PASSWORD_DOCKER}
#    tty: true
#
#  report:
#    image: pytest:v1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    volumes:
#      - ./:/usr/workspace
#    command: >
#      /bin/sh -c "allure generate allure-results --clean -o allure-report"
#    working_dir: /usr/workspace


version: "3.7"

services:
  regression:
    user: root
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: selenium/standalone-chrome:${VERSION}
    image: chrome:${VERSION}
    shm_size: 2gb
    command: >
      /bin/sh -c "apt-get update &&
      ls -la &&
      apt-get install -y python3 python3-pip python3-venv openjdk-11-jre &&
      python3 -m venv /usr/workspace/venv &&
      . /usr/workspace/venv/bin/activate &&
      pip install --upgrade pip &&
      pip install -r /usr/workspace/requirements.txt &&
      pytest -m regression -o log_cli=true --alluredir=allure-results"
    environment:
      BROWSER: ${BROWSER:-chrome}
      STAGE: ${STAGE:-qa}
      VERSION: ${VERSION:-latest}
      LOGIN_DOCKER: ${LOGIN_DOCKER}
      PASSWORD_DOCKER: ${PASSWORD_DOCKER}
    volumes:
      - ./:/usr/workspace
    platform: linux/amd64 # Если процессор Apple
    tty: true

  smoke:
    user: root
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: selenium/standalone-chrome:${VERSION}
    image: chrome:${VERSION}
    shm_size: 2gb
    command: >
      /bin/sh -c "apt-get update &&
      ls -la &&
      apt-get install -y python3 python3-pip python3-venv openjdk-11-jre &&
      python3 -m venv /usr/workspace/venv &&
      . /usr/workspace/venv/bin/activate &&
      pip install --upgrade pip &&
      pip install -r /usr/workspace/requirements.txt &&
      pytest -m smoke -o log_cli=true --alluredir=allure-results"
    environment:
      BROWSER: ${BROWSER:-chrome}
      STAGE: ${STAGE:-qa}
      VERSION: ${VERSION:-latest}
      LOGIN_DOCKER: ${LOGIN_DOCKER}
      PASSWORD_DOCKER: ${PASSWORD_DOCKER}
    volumes:
      - ./:/usr/workspace
    platform: linux/amd64 # Если процессор Apple
    tty: true

  report:
    image: chrome:${VERSION}
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/workspace
    command: >
      /bin/sh -c "allure generate allure-results --clean -o allure-report"
    working_dir: /usr/workspace